In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from wordcloud import WordCloud

In [4]:
df = pd.read_csv('spam.csv', encoding= 'ISO-8859-1')

In [5]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [8]:
df= df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1)

In [10]:
df.columns= ['label','data']
df.head()

  label                                               data
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
df['b_label'] = df['label'].map({'ham':0,'spam':1})

In [12]:
df.head()

  label                                               data  b_label
0   ham  Go until jurong point, crazy.. Available only ...        0
1   ham                      Ok lar... Joking wif u oni...        0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        1
3   ham  U dun say so early hor... U c already then say...        0
4   ham  Nah I don't think he goes to usf, he lives aro...        0

In [14]:
countVectorizer= CountVectorizer(decode_error='ignore')

In [15]:
x = countVectorizer.fit_transform(df['data'])

In [22]:
y = df['b_label'].values

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.33 )

In [25]:
model = MultinomialNB()

In [26]:
model.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [27]:
model.score(x_train,y_train)

0.994910259844629

In [28]:
model.score(x_test,y_test)

0.9809679173463839

In [30]:
df['prediction'] = model.predict(x)

In [37]:
np.sum( df['b_label'].values == df['prediction'].values )

5518

In [38]:
np.sum( df['b_label'].values != df['prediction'].values )

54

In [39]:
tfidf= TfidfVectorizer(decode_error='ignore')

In [40]:
x2 = tfidf.fit_transform(df['data'])

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.33 )

In [42]:
model.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [43]:
model.score(x_train,y_train)

0.9930350924189659

In [44]:
model.score(x_test,y_test)

0.9804241435562806